
Notes and Presentations/Week 2/Week2.toc
Notes and Presentations/Week 2/Week2.tex
Notes and Presentations/Week 2/Week2.synctex.gz
Notes and Presentations/Week 2/Week2.snm
Notes and Presentations/Week 2/Week2.out
Notes and Presentations/Week 2/Week2.nav
Notes and Presentations/Week 2/Week2.log
Notes and Presentations/Week 2/Week2.blg
Notes and Presentations/Week 2/Week2.bib
Notes and Presentations/Week 2/Week2.bbl
Notes and Presentations/Week 2/Week2.aux
Notes and Presentations/Week 2/langevin.gif
Notes and Presentations/Week 2/langevin-99.png
Notes and Presentations/Week 2/langevin-98.png
Notes and Presentations/Week 2/langevin-97.png
Notes and Presentations/Week 2/langevin-96.png
Notes and Presentations/Week 2/langevin-95.png
Notes and Presentations/Week 2/langevin-94.png
Notes and Presentations/Week 2/langevin-93.png
Notes and Presentations/Week 2/langevin-92.png
Notes and Presentations/Week 2/langevin-91.png
Notes and Presentations/Week 2/langevin-90.png
Notes and Presentations/Week 2/langevin-9.png
Notes and Presentations/Week 2/langevin-89.png
Notes and Presentations/Week 2/langevin-88.png
Notes and Presentations/Week 2/langevin-87.png
Notes and Presentations/Week 2/langevin-86.png
Notes and Presentations/Week 2/langevin-85.png
Notes and Presentations/Week 2/langevin-84.png
Notes and Presentations/Week 2/langevin-83.png
Notes and Presentations/Week 2/langevin-82.png
Notes and Presentations/Week 2/langevin-81.png
Notes and Presentations/Week 2/langevin-80.png
Notes and Presentations/Week 2/langevin-8.png
Notes and Presentations/Week 2/langevin-79.png
Notes and Presentations/Week 2/langevin-78.png
Notes and Presentations/Week 2/langevin-77.png
Notes and Presentations/Week 2/langevin-76.png
Notes and Presentations/Week 2/langevin-75.png
Notes and Presentations/Week 2/langevin-74.png
Notes and Presentations/Week 2/langevin-73.png
Notes and Presentations/Week 2/langevin-72.png
Notes and Presentations/Week 2/langevin-71.png
Notes and Presentations/Week 2/langevin-70.png
Notes and Presentations/Week 2/langevin-7.png
Notes and Presentations/Week 2/langevin-69.png
Notes and Presentations/Week 2/langevin-68.png
Notes and Presentations/Week 2/langevin-67.png
Notes and Presentations/Week 2/langevin-66.png
Notes and Presentations/Week 2/langevin-65.png
Notes and Presentations/Week 2/langevin-64.png
Notes and Presentations/Week 2/langevin-63.png
Notes and Presentations/Week 2/langevin-62.png
Notes and Presentations/Week 2/langevin-61.png
Notes and Presentations/Week 2/langevin-60.png
Notes and Presentations/Week 2/langevin-6.png
Notes and Presentations/Week 2/langevin-59.png
Notes and Presentations/Week 2/langevin-58.png
Notes and Presentations/Week 2/langevin-57.png
Notes and Presentations/Week 2/langevin-56.png
Notes and Presentations/Week 2/langevin-55.png
Notes and Presentations/Week 2/langevin-54.png
Notes and Presentations/Week 2/langevin-53.png
Notes and Presentations/Week 2/langevin-52.png
Notes and Presentations/Week 2/langevin-51.png
Notes and Presentations/Week 2/langevin-50.png
Notes and Presentations/Week 2/langevin-5.png
Notes and Presentations/Week 2/langevin-49.png
Notes and Presentations/Week 2/langevin-48.png
Notes and Presentations/Week 2/langevin-47.png
Notes and Presentations/Week 2/langevin-46.png
Notes and Presentations/Week 2/langevin-45.png
Notes and Presentations/Week 2/langevin-44.png
Notes and Presentations/Week 2/langevin-43.png
Notes and Presentations/Week 2/langevin-42.png
Notes and Presentations/Week 2/langevin-41.png
Notes and Presentations/Week 2/langevin-40.png
Notes and Presentations/Week 2/langevin-4.png
Notes and Presentations/Week 2/langevin-39.png
Notes and Presentations/Week 2/langevin-38.png
Notes and Presentations/Week 2/langevin-37.png
Notes and Presentations/Week 2/langevin-36.png
Notes and Presentations/Week 2/langevin-35.png
Notes and Presentations/Week 2/langevin-34.png
Notes and Presentations/Week 2/langevin-33.png
Notes and Presentations/Week 2/langevin-32.png
Notes and Presentations/Week 2/langevin-31.png
Notes and Presentations/Week 2/langevin-30.png
Notes and Presentations/Week 2/langevin-3.png
Notes and Presentations/Week 2/langevin-29.png
Notes and Presentations/Week 2/langevin-28.png
Notes and Presentations/Week 2/langevin-27.png
Notes and Presentations/Week 2/langevin-26.png
Notes and Presentations/Week 2/langevin-25.png
Notes and Presentations/Week 2/langevin-24.png
Notes and Presentations/Week 2/langevin-23.png
Notes and Presentations/Week 2/langevin-22.png
Notes and Presentations/Week 2/langevin-21.png
Notes and Presentations/Week 2/langevin-20.png
Notes and Presentations/Week 2/langevin-2.png
Notes and Presentations/Week 2/langevin-19.png
Notes and Presentations/Week 2/langevin-18.png
Notes and Presentations/Week 2/langevin-17.png
Notes and Presentations/Week 2/langevin-16.png
Notes and Presentations/Week 2/langevin-15.png
Notes and Presentations/Week 2/langevin-14.png
Notes and Presentations/Week 2/langevin-13.png
Notes and Presentations/Week 2/langevin-12.png
Notes and Presentations/Week 2/langevin-11.png
Notes and Presentations/Week 2/langevin-10.png
Notes and Presentations/Week 2/langevin-1.png
Notes and Presentations/Week 2/langevin-0.png
Notes and Presentations/Week 2/ald.gif
Notes and Presentations/Week 1/Week1.toc
Notes and Presentations/Week 1/Week1.tex
Notes and Presentations/Week 1/Week1.synctex.gz
Notes and Presentations/Week 1/Week1.snm
Notes and Presentations/Week 1/celebahq256_header_image_4x4.png
Notes and Presentations/Week 1/cifar10_samples.pdf
Notes and Presentations/Week 1/pgm_diagram_xarrow_small.pdf
Notes and Presentations/Week 1/Week1.aux
Notes and Presentations/Week 1/Week1.bbl
Notes and Presentations/Week 1/Week1.bib
Notes and Presentations/Week 1/Week1.blg
Notes and Presentations/Week 1/Week1.log
Notes and Presentations/Week 1/Week1.nav
Notes and Presentations/Week 1/Week1.out
